PORT=3000
MONGODB_URI=mongodb://localhost:27017/api_cine
JWT_SECRET=cinema_premium_secret_key_2024
JWT_EXPIRES_IN=24h
NODE_ENV=development
SEED_ADMIN_NOMBRE=Admin
SEED_ADMIN_APELLIDO=User
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=adminpassword